<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/bootstrap:: bootstrap('HRMS-Department Management')}"></head>

<body class="container mt-5">
  <h1>Department Management</h1>

  <div class="my-3 d-flex justify-content-end ">
    <button class="btn btn-success align-items-end" data-bs-toggle="modal" data-bs-target="#addNewDepartment">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
        class="lucide lucide-house-plus-icon lucide-house-plus mx-2">
        <path
          d="M12.662 21H5a2 2 0 0 1-2-2v-9a2 2 0 0 1 .709-1.528l7-5.999a2 2 0 0 1 2.582 0l7 5.999A2 2 0 0 1 21 10v2.475" />
        <path d="M14.959 12.717A1 1 0 0 0 14 12h-4a1 1 0 0 0-1 1v8" />
        <path d="M15 18h6" />
        <path d="M18 15v6" />
      </svg>Add Departments
    </button>
    <!-- Modal Add Dept-->
    <div class="modal fade" id="addNewDepartment" tabindex="-1" role="dialog" aria-labelledby="addNewDepartment"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="lucide lucide-house-plus-icon lucide-house-plus mx-2">
                <path
                  d="M12.662 21H5a2 2 0 0 1-2-2v-9a2 2 0 0 1 .709-1.528l7-5.999a2 2 0 0 1 2.582 0l7 5.999A2 2 0 0 1 21 10v2.475" />
                <path d="M14.959 12.717A1 1 0 0 0 14 12h-4a1 1 0 0 0-1 1v8" />
                <path d="M15 18h6" />
                <path d="M18 15v6" />
              </svg>Add New Department
            </h5>
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="d-flex justify-content-center">
              <form method="post" th:action="@{/departments}" th:object="${Department}">
                <label for="department_name">Department Name : </label>
                <input required type="text" name="department_name" id="department_name">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
              Close
            </button>
            <button type="submit" class="btn btn-primary">
              Save changes
            </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="table-responsive">
    <table class="table table-striped align">
      <thead>
        <tr>
          <th scope="col">Department id</th>
          <th scope="col">Department Name</th>
          <th scope="col text-end">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr th:if="${#lists.isEmpty(departments)}" class="text-center">
          <td colspan="3">There is no departments registered yet!</td>
        </tr>
        <tr th:each="department : ${departments}">
          <td scope="row" th:text="${department.id}"></td>
          <td th:text="${department.department_name}"></td>
          <td scope="row">
            <div class="btn-group">
              <button type="button" class="btn btn-outline-warning" data-bs-toggle="modal"
                th:data-bs-target="'#updateModal_'+${department.id}">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                  stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                  class="lucide lucide-square-pen-icon lucide-square-pen">
                  <path d="M12 3H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7" />
                  <path
                    d="M18.375 2.625a1 1 0 0 1 3 3l-9.013 9.014a2 2 0 0 1-.853.505l-2.873.84a.5.5 0 0 1-.62-.62l.84-2.873a2 2 0 0 1 .506-.852z" />
                </svg>
              </button>
              <div class="modal fade" th:id="'updateModal_'+${department.id}" tabindex="-1" role="dialog"
                aria-labelledby="updateModal" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title text-warning" id="exampleModalLongTitle"> <svg
                          xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                          class="lucide lucide-triangle-alert-icon lucide-triangle-alert mx-1">
                          <path d="m21.73 18-8-14a2 2 0 0 0-3.48 0l-8 14A2 2 0 0 0 4 21h16a2 2 0 0 0 1.73-3" />
                          <path d="M12 9v4" />
                          <path d="M12 17h.01" />
                        </svg>Update Department</h5>
                      <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <div class="d-flex justify-content-center">
                        <form method="post" th:action="@{/departments/update}" th:object="${Department}">
                          <label for="department_name">Department Name : </label>
                          <input type="text" name="department_name" id="department_name" required
                            th:value="${department.department_name}">
                          <input type="hidden" name="department_id" th:value="${department.id}" required>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancel</button>
                      <button type="submit" class="btn btn-warning">Confirm</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Delete Department -->
              <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal"
                th:attr="data-bs-target='#deleteModal_'+${department.id}">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                  stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                  class="lucide lucide-trash-icon lucide-trash">
                  <path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6" />
                  <path d="M3 6h18" />
                  <path d="M8 6V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2" />
                </svg>
              </button>
              <div class="modal fade" th:id="'deleteModal_'+${department.id}" tabindex="-1" role="dialog"
                aria-labelledby="deleteModal" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title text-danger" id="exampleModalLongTitle"> <svg
                          xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                          class="lucide lucide-triangle-alert-icon lucide-triangle-alert mx-1">
                          <path d="m21.73 18-8-14a2 2 0 0 0-3.48 0l-8 14A2 2 0 0 0 4 21h16a2 2 0 0 0 1.73-3" />
                          <path d="M12 9v4" />
                          <path d="M12 17h.01" />
                        </svg>Delete Confirmation</h5>
                      <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <p>Are you sure to delete department : <span th:text="${department.department_name}"
                          class="fw-bold"></span>
                      </p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                      <form th:action="@{/departments/delete}" method="post">
                        <input type="hidden" name="department_id" th:value="${department.id}" required>
                        <button type="submit" class="btn btn-danger">Confirm</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</body>

</html>