<!DOCTYPE html>
<html
  xmlns="http://www.w3.org/1999/xhtml"
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
>
  <head th:replace="~{fragments/bootstrap:: bootstrap('HRMS-Login')}"></head>
  <body class="container vh-100">
    <div
      class="d-flex flex-row justify-content-center align-items-center vh-100"
    >
      <div class="flex-column">
        <h1 class="fs-1">HRMS</h1>
        <p>Human Resource Management System</p>
      </div>
      <div class="d-flex" style="height: 200px">
        <div class="vr"></div>
      </div>

      <div class="mx-3"></div>
      <!-- Login form -->
      <div>

        <form th:action="@{/login}" method="post">
          <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input
              type="text"
              class="form-control"
              name="username"
              id="username"
            />
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input
              type="password"
              class="form-control"
              name="password"
              id="username"
            />
          </div>
        <div th:if="${param.error}" class="text-danger">Invalid Username and Password.</div>

          <button type="submit" class="btn btn-primary w-100">Login</button>


        </form>

      </div>
    </div>
  </body>
</html>
