<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
>
  <head
    th:replace="~{fragments/bootstrap:: bootstrap('HRMS-Dashboard')}"
  ></head>
  <body class="container">
    <div class="mt-5">
      <h1>Welcome back ,<span sec:authentication="name">User</span>!</h1>
      <h2>HRMS: Human Resources Management System</h2>

      <div class="my-5">
        <!-- Admin -->
        <nav sec:authorize="hasRole('ROLE_ADMIN')" class="nav">
          <a class="nav-link active" aria-current="page" href="#"
            >Department Maintenance</a
          >
          <a class="nav-link" href="#">User Maintenance</a>
        </nav>
        <!-- Admin -->
        <!-- Manager -->
        <nav sec:authorize="hasRole('ROLE_MANAGER')" class= "nav">
          <a class="nav-link active" aria-current="page" href="#"
            >Leave Application Listing</a
          >
        </nav>
        <!-- Manager -->
         <!-- Employee -->
        <nav sec:authorize="hasRole('ROLE_MANAGER')" class= "nav">
          <a class="nav-link active" aria-current="page" href="#"
            >Leave Application Listing</a
          >
          <a class="nav-link" href="#">Leave Application Form</a>
        </nav>
        <!-- Employee -->
      </div>

      <form th:action="@{/logout}" method="post">
        <button type="submit" class="btn btn-warning">
          Logout
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="15"
            height="15"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-log-out-icon lucide-log-out"
          >
            <path d="m16 17 5-5-5-5" />
            <path d="M21 12H9" />
            <path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4" />
          </svg>
        </button>
      </form>
    </div>
  </body>
</html>
